 <!-- <script src="js/loader.js"></script> -->
<ion-view title="Check in" ng-init="checkInDataGet(0)">
    <ion-header-bar class="bar-header custom-header">
        <h1 class="title">Check in</h1>
    </ion-header-bar>
    <ion-content has-header="true" has-tabs="true" ng-show="showCheckInData">
        <form name="checkInForm" ng-submit="saveCheckInData()">
            <div class="sessionWrapper">
                <div class="row" ng-show="nodata">
                    <div class="col">
                        <p>{{noDataMessage}}</p>
                    </div>
                </div>
            </div>
            <!-- Daily Checkins Start -->
            <div class="containerWrapper">
                <div class="row removePadding">
                    <div class="ion-chevron-left"  ng-click="checkInDataGet(1,newDate)" ng-show="CheckInPrevious" ></div>
                    <div class="col checkInTitle" ng-show="checkinDateOne">
                        <span class="dailytMetricSize">{{newDate}}</span>
                    </div>
                 <div class="ion-chevron-right" ng-click="checkInDataGet(2,newDate)" ng-show="CheckInNext"></div>
                </div>
                <!--message box start-->
                <div class="card msgBox" ng-show="isMessage">
                    <div class="item item-text-wrap">
                        <p class="">{{boxMessageText}}</p>
                    </div>
                </div><br/>
                <!--message box end-->
                <div ng-if="isDataAvailable">
                    <div class="largeText dailyReminderTitle checkInTitle">Daily Activities</div>
                    <div class="containerDiv1 removePadding">
                        <div class="responsiveCheckInDiv itemInput"> Go to bed </div>
                        <div class="responsiveCheckInDiv1 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="HH:MM" ng-model="patient.bedtime" required class="reminderTime" ng-click="setTime(1)" name="bedtime" readonly="true" ng-disabled="checkInDisable" />
                    </span>
                                <div class="form-error-right" ng-show="checkInForm.bedtime.$error.required && checkInForm.bedtime.$dirty">required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerDiv1 removePadding">
                        <div class="responsiveCheckInDiv itemInput">Wake up </div>
                        <div class="responsiveCheckInDiv1 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="HH:MM" ng-model="patient.wake_up" required class="reminderTime" ng-click="setTime(2)" name="wake_up" readonly="true" ng-disabled="checkInDisable"/>
                    </span>
                                <div class="form-error-right" ng-show="checkInForm.wake_up.$error.required && checkInForm.wake_up.$dirty">required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerDiv1 removePadding2">
                        <div class="responsiveCheckInDiv itemInput">Glasses on </div>
                        <div class="responsiveCheckInDiv1 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="HH:MM" ng-model="patient.wear_glasses_time" class="reminderTime" name="wear_glasses_time" ng-click="setTime(3)" readonly="true" ng-disabled="checkInDisable" required/>
                    </span>
                                <div class="form-error-right" ng-show="checkInForm.wear_glasses_time.$error.required && checkInForm.wear_glasses_time.$dirty">
                                    required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="containerDiv1 removePadding2">
                        <div class="responsiveCheckInDiv itemInput">Out of bed </div>
                        <div class="responsiveCheckInDiv1 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="HH:MM" ng-model="patient.out_of_bed" class="reminderTime" name="out_of_bed" ng-click="setTime(4)" readonly="true"  ng-disabled="checkInDisable" required/>
                    </span>
                                <div class="form-error-right" ng-show="checkInForm.out_of_bed.$error.required && checkInForm.out_of_bed.$dirty">required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerDiv1 removePadding2">
                        <div class="responsiveCheckInDiv">Up at night? </div>
                        <div class="responsiveCheckInDiv1 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="HH:MM" ng-model="patient.up_at_night" class="reminderTime" name="up_at_night" ng-click="setTime(5)" readonly="true" ng-disabled="checkInDisable"/>
                      <ionic-durationpicker idp-config="durationConfig" idp-output="patient.up_at_night_duration" ng-disabled="checkInDisable" ></ionic-durationpicker>
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="containerDiv1 removePadding2">
                        <div class="responsiveCheckInDiv">Nap </div>
                        <div class="responsiveCheckInDiv1 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="HH:MM" ng-model="patient.nap" class="reminderTime" name="nap" ng-click="setTime(9)"  readonly="true"/>
                      <ionic-durationpicker idp-config="durationConfig" idp-output="patient.nap_duration"></ionic-durationpicker>
                    </span>
                            </div>
                        </div>
                    </div>
                     <input type="hidden" ng-model="patient.checkin_count" />
                
                <!-- Daily Checkins End -->
                <hr class="lightHRs" />
                <!-- Static Metric Start -->
                
                    <div class="containerDiv1 removePadding" ng-repeat="sq in staticQuestions">
                        <div class="responsiveCheckInDiv">{{sq.title}} </div>
                        <div class="responsiveCheckInDiv1 newClass">
                            <div class="toggleBar">
                <span class="rateSpan">
                    <rating ng-model="patient.sleep_quality" max="rating.max" ng-if=" sq.id == '1' "></rating>
                    <rating ng-model="patient.sleep_enough" max="rating.max" ng-if=" sq.id == '2' " ></rating>
                    <rating ng-model="patient.energy" max="rating.max" ng-if=" sq.id == '3' " ></rating>
                    <rating ng-model="patient.happy" max="rating.max" ng-if=" sq.id == '4' "></rating>
                    <rating ng-model="patient.relaxed" max="rating.max" ng-if=" sq.id == '5' " ></rating>
                </span>
                                <span class="smiley" id="smiley{{$index}}">&#9786;</span>
                            </div>
                        </div>
                    </div>
                
                <div class="row">
                    <div class="col"></div>
                </div>
                <!-- Static Metric End -->
                <hr class="lightHRs" />
                <!-- Weekly Metric Start -->
                
                    <div class="largeText dailyReminderTitle checkInTitle">Daily Activities</div>
                    <div class="containerDiv1 removePadding">
                        <div class="responsiveCheckInDiv2title"> Food </div>
                        <div class="responsiveCheckInDiv2 newClass">
                            <div class="toggleBar">
                                <div class="rateSpan">
                                    <input type="text" placeholder="HH:MM" ng-model="patient.food1" class="reminderTime fullWidth" ng-click="setTime(6)" name="food1" readonly="true" ng-disabled="checkInDisable" />
                                </div>
                                <div class="rateSpan">
                                    <input type="text" placeholder="HH:MM" ng-model="patient.food2" class="reminderTime fullWidth" ng-click="setTime(7)" name="food2" readonly="true" ng-disabled="checkInDisable" />
                                </div>
                                <div class="rateSpan">
                                    <input type="text" placeholder="HH:MM" ng-model="patient.food3" class="reminderTime fullWidth" ng-click="setTime(8)" name="food3" readonly="true" ng-disabled="checkInDisable" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="containerDiv1 removePadding">
                        <div class="responsiveCheckInDiv2title">Caffeine </div>
                        <div class="responsiveCheckInDiv2 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="00" ng-model="patient.caffeine1" class="reminderTime borderBottom" ng-class="{'borderBottomRed' : enableErrClass1}" name="caffeine1" ng-disabled="checkInDisable" maxlength="2" /><br/>
                    </span>
                                <span class="rateSpan">
                      <input type="text" placeholder="00" ng-model="patient.caffeine2" class="reminderTime borderBottom" ng-class="{'borderBottomRed' : enableErrClass2}" name="caffeine2" ng-disabled="checkInDisable" maxlength="2" /><br/>
                    </span>
                                <span class="rateSpan">
                      <input type="text" placeholder="00" ng-model="patient.caffeine3" class="reminderTime borderBottom" ng-class="{'borderBottomRed' : enableErrClass3}" name="caffeine3" ng-disabled="checkInDisable" maxlength="2" />
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="containerDiv1 removePadding2">
                        <div class="responsiveCheckInDiv2title">Medication </div>
                        <div class="responsiveCheckInDiv2 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="00" ng-model="patient.medication" class="reminderTime borderBottom" name="medication" ng-disabled="checkInDisable" ng-class="{'borderBottomRed' : enableErrClass4}" maxlength="2" />
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="containerDiv1 removePadding2">
                        <div class="responsiveCheckInDiv2title">Alcohol (1 serving = 30ml) </div>
                        <div class="responsiveCheckInDiv2 newClass">
                            <div class="toggleBar">
                                <span class="rateSpan">
                      <input type="text" placeholder="00" ng-model="patient.alcohol" class="reminderTime borderBottom" name="alcohol" ng-disabled="checkInDisable" ng-class="{'borderBottomRed' : enableErrClass5}" maxlength="2" />
                    </span>
                            </div>
                        </div>
                    </div>
                
                <div class="containerDiv1 removePadding" ng-show="CheckIn">
                    <span class="itemText">All Fields marked with Red color are mandatory.</span>
                </div>
                <div class="containerDiv1">
                    <meter value="2" min="0" max="10">2 out of 10</meter>
                </div>
                <div class="emptyDiv">&nbsp;</div>
                <div class="containerDiv1">
                    <div class="button-wrapper">
                        <button class="button button-block complete-button ink" type="submit" ng-disabled="(checkInForm.$invalid || enableErrClass1 || enableErrClass2 || enableErrClass3 || enableErrClass4 || enableErrClass5)" ng-show="CheckIn">Save</button>
                    </div>
                </div>
            </div>
            <!-- Weekly Metric End -->
        </form>
        <div class="emptyDiv">&nbsp;</div>
        </div>
    </ion-content>
</ion-view>
