<ion-view title="jet lag" ng-init="getJetLagData()">
    <ion-header-bar class="bar-header custom-header">
        <h1 class="title">Jet Lag</h1>
        <i class="button button-clear ion-gear-b settingsBtn" ui-sref="settings({pageId:2})"></i>
    </ion-header-bar>
    <ion-content class="custom-content padding">
        <form name="jetLagForm" >
            <div class="list">
                <!--Travel Date-->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Travel Date</span>
                    <input type="text" placeholder="Travel Date" name="travel_date" ng-model="jetLag.travel_date" ng-Change="calculateJetLag()" ng-click="openDatePicker()" required  ng-disabled="formDisable"/>
                </label>
                <div class="form-error" ng-show="jetLagForm.travel_date.$error.required && jetLagForm.travel_date.$dirty">Travel Date is required.</div>
                <!--Time Diffference-->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Time Diffference</span>
                    <input type="text" placeholder="Time difference" name="time_difference" ng-model="jetLag.time_difference" ng-Change="calculateJetLag()" required  ng-disabled="formDisable" />
                </label>
                <div class="form-error" ng-show="jetLagForm.time_difference.$error.required && jetLagForm.time_difference.$dirty">Time Diffference is required.</div>
                <div class="row">
                    <div class="col">&nbsp;</div>
                </div>
                <div class="row noPadding">
                    <div class="col noPadding">
                        <div class="row">
                            <div class="col col-25">Day</div>
                            <div class="col col-25">Date</div>
                            <div class="col col-25">Glasses Time</div>
                            <div class="col col-25">Bedtime</div>
                        </div>
                        <div class="row noPadding" ng-repeat="jetLags in jetLagData">
                            <div class="col col-25 jetLagdiv">
                                <input type="text" class="jetLaginput" id="day{{$index + 1}}" ng-model="jetLag.day[$index]" disabled>
                            </div>
                            <div class="col col-25 jetLagdiv">
                                <input type="text" class="jetLaginput" id="date{{$index+ 1}}" ng-model="jetLag.date[$index]" disabled>
                            </div>
                            <div class="col col-25 jetLagdiv">
                                <input type="text" class="jetLaginput" id="time{{$index +1}}" ng-model="jetLag.time[$index]" disabled>
                            </div>
                            <div class="col col-25 jetLagdiv">
                                <input type="text" class="jetLaginput" id="bedtime{{$index +1}}" ng-model="jetLag.bedtime[$index]" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Update -->
                <div class="containerDiv1">
                    <div class="button-wrapper">
                        <button class="button button-block complete-button ink" type="submit" ng-click="saveJetLagData()" ng-show="show" ng-model="save">Save</button>
                    </div>
                </div>
                 <div class="containerDiv1">
                    <div class="button-wrapper">
                        <button class="button button-block complete-button ink" ng-click="resetJetLagData()" ng-show="show">Reset</button>
                    </div>
                </div>
                <div class="containerDiv1">
                    <div class="button-wrapper">
                        <button class="button button-block complete-button ink" ng-click="updateJetLagData()" ng-show="completeShow">Complete</button>
                    </div>
                </div>
        
        </form>
    </ion-content>
</ion-view>
