<ion-view title="State" ng-init="findCheckIndata()">
  <ion-header-bar class="bar-header custom-header">
    <h1 class="title">State</h1>
    <i class="button button-clear ion-gear-b settingsBtn" ></i>
  </ion-header-bar>
  <ion-content class="custom-content padding">
  
 
<!--  <div id="line"  height="400" width="400"></div> -->

<div class="row"></div>
<div class="card">
  <div class="item item-text-wrap">
   <div class="item item-divider padding alignCenter">
    Quality of life
  </div>
 <canvas id="line" class="chart chart-line" data="data1"
 labels="labels1" series="series1" options="options1"
 dataset-override="datasetOverride1" legend="true"  height="200">
</canvas> 
</div>
</div>
<div class="row"></div>
<div class="card">
  <div class="item item-text-wrap"> 
   <div class="item item-divider padding alignCenter">
    Sleep vs enough
  </div>
  
</div>
</div>

  </ion-content>
</ion-view>
