<ion-view view-title="Forgot Password">
  <ion-header-bar class="bar-header custom-header">
   <button class="button button-positive button-clear no-animation backBtn" ng-click="goBackToSignIn()">
      <i class="ion-ios-arrow-back"></i>
    </button>
    <h1 class="title headerTitle">Forgot Password</h1>
  </ion-header-bar>
  <ion-content class="custom-content padding">
    <form name="passowrdForm" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" class="custom_text_box" placeholder="Email" name="email" ng-model="user.email" required>
        </label>
         <div class="form-error" ng-show="passowrdForm.email.$invalid && !passowrdForm.email.$pristine" >Email address is required.</div>
      </div>
      <div class="button-wrapper">
        <button class="button button-block custom-button ink" type="submit" ng-disabled="!passowrdForm.$valid" ng-click="forgotPassword(user)">SUBMIT</button>
      </div>
    </form>   
  </ion-content>
</ion-view>