<ion-view>
  <ion-header-bar class="bar-header custom-header">
    <h1 class="title headerTitle">Reset Password</h1>
  </ion-header-bar>
  <ion-content class="custom-content padding">
    <form name="resetPasswordForm" ng-submit="resetPassword(user)" novalidate>
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">New Password</span>
          <input type="password" class="custom_text_box" placeholder="New Password" name="newpassword" ng-model="user.newpassword" ng-minlength="6" ng-maxlength="15" required>
        </label>
        <div class="form-error" ng-show="resetPasswordForm.newpassword.$error.required && resetPasswordForm.newpassword.$dirty">New password is required.</div>
        <div class="form-error" ng-show="!resetPasswordForm.newpassword.$error.required && (resetPasswordForm.newpassword.$error.minlength || resetPasswordForm.newpassword.$error.maxlength) && resetPasswordForm.newpassword.$dirty">Password must be between 6 and 15 characters.</div>


        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm New Password</span>
          <input type="password" class="custom_text_box" placeholder="Confirm New Password" name="cpassword" ng-model="user.cpassword" ng-pattern="user.newpassword" required>
        </label>
        <div class="form-error" ng-show="resetPasswordForm.cpassword.$error.required && resetPasswordForm.cpassword.$dirty" >Confirm password is required.</div>
        <div class="form-error" ng-show="resetPasswordForm.cpassword.$error.pattern">Passwords does not match.</div>
        
      </div>
      <br />
      <div class="button-wrapper">
        <button class="button button-block custom-button ink" type="submit" ng-disabled="!resetPasswordForm.$valid">RESET PASSWORD</button>
      </div>
    </form>
  </ion-content>
</ion-view>