<ion-view>
  <ion-header-bar class="bar-header custom-header">
    <button class="button button-positive button-clear no-animation backBtn" ng-click="goBackToSignIn()">
      <i class="ion-ios-arrow-back"></i>
    </button>
    <h1 class="title headerTitle">Sign Up</h1>
  </ion-header-bar>
  <ion-content class="custom-content padding">
    <div class="button-wrapper">
      <button class="button button-block custom-button1 icon-right ion-chevron-right ink" type="submit" ui-sref="signin">Already registered? Sign In</button>
    </div>
    <form name="signUpForm" ng-submit="signUp(patient)" novalidate>
      <div class="list">
        <!--Username-->
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" class="custom_text_box" placeholder="Username" name="username" ng-model="patient.username" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" ng-minlength="5" ng-maxlength="15" required/>
        </label>
        <div class="form-error" ng-show="signUpForm.username.$error.required && signUpForm.username.$dirty" >Username is required.</div>
        <div class="form-error" ng-show="signUpForm.username.$error.pattern">Username must be letters and numbers only.</div>
        <div class="form-error" ng-show="!signUpForm.username.$error.required && !signUpForm.username.$error.pattern && (signUpForm.username.$error.minlength || signUpForm.username.$error.maxlength) && signUpForm.username.$dirty">Username must be between 5 and 15 characters.</div>
        <!--Email-->
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" class="custom_text_box" placeholder="Email" name="email" ng-model="patient.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{1,}[a-zA-Z]$/" required>
        </label>
        <div class="form-error" ng-show="signUpForm.email.$dirty && signUpForm.email.$error.required" >Email is required.</div>
        <div class="form-error" ng-show="signUpForm.email.$dirty && (signUpForm.email.$error.pattern || signUpForm.email.$error.email)" >Email is invalid.</div>
        <!--First Name-->
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" class="custom_text_box" placeholder="First Name" name="fName" ng-model="patient.first_name" ng-pattern="/^[a-zA-Z\s]*$/" required>
        </label>
        <div class="form-error" ng-show="signUpForm.fName.$error.required && signUpForm.fName.$dirty" >First name is required.</div>
        <div class="form-error" ng-show="signUpForm.fName.$error.pattern" >First name must be in characters.</div>
        <!--Last Name-->
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" class="custom_text_box" placeholder="Last Name" name="lName" ng-model="patient.last_name" ng-pattern="/^[a-zA-Z\s]*$/" required>
        </label>
        <div class="form-error" ng-show="signUpForm.lName.$error.required && signUpForm.lName.$dirty" >Last name is required.</div>
        <div class="form-error" ng-show="signUpForm.lName.$error.pattern" >Last name must be in characters.</div>

        <!--Gender-->
        <div class="btnWrapper">
          <span class="input-label customItem">Gender</span>
            <div class="btnBar">
              <div class="button-bar">
                <a class="button button-light  button-block customBtnBar1 ink {{(type == 'Male') &&  'active' || ''}}" ng-click="setType($event)">Male</a>
                <a class="button button-light  button-block customBtnBar1 ink {{(type == 'Female') &&  'active' || ''}}" ng-click="setType($event)">Female</a>
              </div>
            </div>
        </div>
        
        <!--Last Name-->

        <label class="item item-input item-floating-label">
          <span class="input-label">Age</span>
          <input type="text" class="custom_text_box" placeholder="Age" name="age" ng-model="patient.age" maxlength="2" numbers-only required>
        </label>
        <div class="form-error" ng-show="signUpForm.age.$dirty && signUpForm.age.$error.parse" >Age is required.</div>
        <div class="form-error" ng-show="ageValidationError">Age must be between 13 to 99.</div>


        <!-- <label class="item item-input item-floating-label">
          <span class="input-label">Age</span>
          <input type="number" class="custom_text_box" placeholder="Age" name="age" ng-model="patient.age" ng-min="13" ng-max="99" required>
        </label> -->
<!--         <div class="form-error" ng-show="signUpForm.age.$dirty && signUpForm.age.$error.required" >Age is required.</div>
        <div class="form-error" ng-show="signUpForm.age.$invalid && !signUpForm.age.$pristine && !signUpForm.age.$error.required" >Age must be between 13 to 99.</div> -->

        <!--Password-->
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" class="custom_text_box" placeholder="Password" name="pass1" id="pass1" ng-model="patient.password" ng-minlength="6" ng-maxlength="15" required>
        </label>
        <div class="form-error" ng-show="signUpForm.pass1.$error.required && signUpForm.pass1.$dirty" >Password is required.</div>
        <div class="form-error" ng-show="!signUpForm.pass1.$error.required && (signUpForm.pass1.$error.minlength || signUpForm.pass1.$error.maxlength) && signUpForm.pass1.$dirty">Password must be between 6 and 15 characters.</div>
        <!--Confirm Password-->
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm Password</span>
          <input type="password" class="custom_text_box" placeholder="Confirm Password " name="passwordC" id="passwordC" ng-model="patient.passwordC" required>
        </label>
        <div class="form-error" ng-show="patient.passwordC != patient.password">Password doesn't match.</div>
        <!--Ratings-->
        <div class="largeText">Please rate the following during the last month.</div>
        <div class="containerDiv1 removePadding">
          <div class="responsiveCheckInDiv">Energy </div>
          <div class="responsiveCheckInDiv1 newClass">
            <div class="toggleBar">
              <span class="rateSpan">
                <rating ng-model="patient.energy" max="rating.max" name="energy"></rating>
              </span>  
              <span class="smiley" id="weekSmiley{{$index}}">&#9786;</span>
            </div>
          </div>
        </div>
        <div class="containerDiv1 removePadding">
          <div class="responsiveCheckInDiv">Relaxed </div>
          <div class="responsiveCheckInDiv1 newClass">
            <div class="toggleBar">
              <span class="rateSpan">
                <rating ng-model="patient.relaxed" max="rating.max" name="relaxed"></rating>
              </span>  
              <span class="smiley" id="weekSmiley{{$index}}">&#9786;</span>
            </div>
          </div>
        </div>
        <div class="containerDiv1 removePadding">
          <div class="responsiveCheckInDiv">Happy </div>
          <div class="responsiveCheckInDiv1 newClass">
            <div class="toggleBar">
              <span class="rateSpan">
                <rating ng-model="patient.happy" max="rating.max" name="happy"></rating>
              </span>  
              <span class="smiley" id="weekSmiley{{$index}}">&#9786;</span>
            </div>
          </div>
        </div>
        
        <!--Alarms-->
        <div class="largeText dailyReminderTitle">Alarms 
          <i class="icon ion-help-circled tooltip">
            <span class="tooltiptext">Time when to start the bedtime routine.</span>
          </i>
        </div>
        <div class="containerDiv1 removePadding">
          <div class="responsiveCheckInDiv">Planned Bedtime </div>
          <div class="responsiveCheckInDiv1 newClass">
            <div class="toggleBar">
              <span class="rateSpan">
                <input type="text" placeholder="HH:MM" ng-model="patient.planned_bedtime" required class="reminderTime" ng-click="editTime(1)" name="planned_bedtime" readonly />
              </span>
              <div class="form-error-right" ng-show="signUpForm.planned_bedtime.$error.required && signUpForm.planned_bedtime.$dirty" >required.</div>
            </div>
          </div>
        </div>
        <div class="containerDiv1 removePadding">
          <div class="responsiveCheckInDiv">Planned Wake Up </div>
          <div class="responsiveCheckInDiv1 newClass">
            <div class="toggleBar">
              <span class="rateSpan">
                <input type="text" placeholder="HH:MM" ng-model="patient.planned_wakeup" required class="reminderTime" ng-click="editTime(2)" name="planned_wakeup" readonly/>
              </span>
              <div class="form-error-right" ng-show="signUpForm.planned_wakeup.$error.required && signUpForm.planned_wakeup.$dirty" >required.</div>
            </div>
          </div>
        </div>
        <div class="containerDiv1 removePadding2">
          <div class="responsiveCheckInDiv">Wear Glasses Time </div>
          <div class="responsiveCheckInDiv1 newClass">
            <div class="toggleBar">
              <span class="rateSpan">
                <input type="text" placeholder="HH:MM" ng-model="patient.wear_glasses_time" disabled class="reminderTime" name="wear_glasses_time" readonly/>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="button button-block custom-button ink" type="submit" ng-disabled="signUpForm.$invalid || patient.passwordC != patient.password">SIGN UP</button>
      </div>
    </form>   
  </ion-content>
</ion-view>