<ion-view>
  <ion-header-bar class="bar-header custom-header">
    <h1 class="title headerTitle">Sign In</h1>
  </ion-header-bar>
  <ion-content class="custom-content padding">
    <form name="signinForm" ng-submit="signIn(user)" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username" name="username" ng-model="user.username" autofocus="autofocus" required>
        </label>
        <div class="form-error" ng-show="signinForm.username.$invalid && !signinForm.username.$pristine" >Username is required.</div>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" name="password" ng-model="user.password" required>
        </label>
        <div class="form-error" ng-show="signinForm.password.$error.required && signinForm.password.$dirty" >Password is required.</div>
        <div class="custom-link" ui-sref="forgotpassword">Forgot Password</div>
      </div>

      <div class="button-wrapper">
        <button class="button button-block custom-button ink" type="submit" ng-disabled="!signinForm.$valid">SIGN IN</button>
      </div>
    </form> 

    <div class="button-wrapper signUpLink">
      <a class="linktoSignup" type="submit" ui-sref="signup">Don't have account? Register</a>
    </div>  
  </ion-content>
</ion-view>